html
    head
        title="Menu Updater"
        link(rel="stylesheet", href="/static/css/adminStyles.css")
    body
        div.formContainer
            form(action="/submitChanges" method="POST")
                table
                    tr
                        th
                            label(for="date")="For the week of: "
                        td
                            input(id="date" name="date" type="date" value=date)
                table
                    tr
                        th
                            label(for="monday")= "Monday"
                        td
                            input(name="monday" id="monday" type="text" value=monday)
                    tr  
                        th
                            label(for="tuesday")= "Tuesday"
                        td
                            input(name="tuesday" id="tuesday" type="text" value=tuesday)
                    tr  
                        th
                            label(for="wednesday")= "Wednesday"
                        td
                            input(name="wednesday" id="wednesday" type="text" value=wednesday)
                    tr  
                        th
                            label(for="thursday")= "Thursday"
                        td
                            input(name="thursday" id="thursday" type="text" value=thursday)
                    tr  
                        th
                            label(for="friday")= "Friday"
                        td
                            input(name="friday" id="friday" type="text" value=friday)
                    tr  
                        th
                            label(for="saturday")= "Saturday"
                        td
                            input(name="saturday" id="saturday" type="text" value=saturday)
                    tr  
                        th
                            label(for="sunday")= "Sunday"
                        td
                            input(name="sunday" id="sunday" type="text" value=sunday)
                    table
                        tr
                            th
                                label(for="sideOne")= "Side 1"
                            td
                                input(name="sideOne" id="sideOne" type="text" value=sideOne)
                        tr  
                            th
                                label(for="sideTwo")= "Side 2"
                            td
                                input(name="sideTwo" id="sideTwo" type="text" value=sideTwo)
                        tr  
                            th
                                label(for="sideThree")= "Side 3"
                            td
                                input(name="sideThree" id="sideThree" type="text" value=sideThree)
                    table
                        tr
                            th.topHeading=""
                            th.topHeading="Meal"
                            th.topHeading="Keto?"
                            th.topHeading="Paleo?"
                            th.topHeading="GF?"
                            th.topHeading="Fat"
                            th.topHeading="Protein"
                            th.topHeading="Carbs"
                            th.topHeading="Calories"
                        tr
                            th="Healthy Item 1"
                            td
                                input(name="healthy_item_one_meal" type="text" value=h1_meal)
                            td
                                input(name="healthy_item_one_keto" type="checkbox" checked=h1_keto)
                            td
                                input(name="healthy_item_one_paleo" type="checkbox" checked=h1_paleo)
                            td
                                input(name="healthy_item_one_gf" type="checkbox" checked=h1_gf)
                            td
                                input(name="healthy_item_one_fat" type="number" value=h1_fat)
                            td
                                input(name="healthy_item_one_protein" type="number" value=h1_protein)
                            td
                                input(name="healthy_item_one_carbs" type="number" value=h1_carbs)
                            td
                                input(name="healthy_item_one_calories" type="number" value=h1_calories)
                        tr
                            th="Healthy Item 2"
                            td
                                input(name="healthy_item_two_meal" type="text" value=h2_meal)
                            td
                                input(name="healthy_item_two_keto" type="checkbox" checked=h2_keto)
                            td
                                input(name="healthy_item_two_paleo" type="checkbox" checked=h2_paleo)
                            td
                                input(name="healthy_item_two_gf" type="checkbox" checked=h2_gf)
                            td
                                input(name="healthy_item_two_fat" type="number" value=h2_fat)
                            td
                                input(name="healthy_item_two_protein" type="number" value=h2_protein)
                            td
                                input(name="healthy_item_two_carbs" type="number" value=h2_carbs)
                            td
                                input(name="healthy_item_two_calories" type="number" value=h2_calories)
                        tr
                            th="Healthy Item 3"
                            td
                                input(name="healthy_item_three_meal" type="text" value=h3_meal)
                            td
                                input(name="healthy_item_three_keto" type="checkbox" checked=h3_keto)
                            td
                                input(name="healthy_item_three_paleo" type="checkbox" checked=h3_paleo)
                            td
                                input(name="healthy_item_three_gf" type="checkbox" checked=h3_gf)
                            td
                                input(name="healthy_item_three_fat" type="number" value=h3_fat)
                            td
                                input(name="healthy_item_three_protein" type="number" value=h3_protein)
                            td
                                input(name="healthy_item_three_carbs" type="number" value=h3_carbs)
                            td
                                input(name="healthy_item_three_calories" type="number" value=h3_calories)
                        tr
                            th="Healthy Item 4"
                            td
                                input(name="healthy_item_four_meal" type="text" value=h4_meal)
                            td
                                input(name="healthy_item_four_keto" type="checkbox" checked=h4_keto)
                            td
                                input(name="healthy_item_four_paleo" type="checkbox" checked=h4_paleo)
                            td
                                input(name="healthy_item_four_gf" type="checkbox" checked=h4_gf)
                            td
                                input(name="healthy_item_four_fat" type="number" value=h4_fat)
                            td
                                input(name="healthy_item_four_protein" type="number" value=h4_protein)
                            td
                                input(name="healthy_item_four_carbs" type="number" value=h4_carbs)
                            td
                                input(name="healthy_item_four_calories" type="number" value=h4_calories)
                        tr
                            th="Healthy Item 5"
                            td
                                input(name="healthy_item_five_meal" type="text" value=h5_meal)
                            td
                                input(name="healthy_item_five_keto" type="checkbox" checked=h5_keto)
                            td
                                input(name="healthy_item_five_paleo" type="checkbox" checked=h5_paleo)
                            td
                                input(name="healthy_item_five_gf" type="checkbox" checked=h5_gf)
                            td
                                input(name="healthy_item_five_fat" type="number" value=h5_fat)
                            td
                                input(name="healthy_item_five_protein" type="number" value=h5_protein)
                            td
                                input(name="healthy_item_five_carbs" type="number" value=h5_carbs)
                            td
                                input(name="healthy_item_five_calories" type="number" value=h5_calories)
                    input(type="submit")