html
    head
        title= "DinnersByDerek"
        link(rel="stylesheet", href="/static/css/indexStyles.css")
    body
        div(class="inlineContainer" id="inlineContainer")
            nav(id="Navbar")
                a(class="NavItem" href="#main_header")="Home"
                a(class="NavItem" href="#menu")="Menu"
                a(class="NavItem" href="#health")="Bodyplex/Burn Boot Camp"
                a(class="NavItem" href="#pricing")="Pricing"
                a(class="NavItem" href="#photos")="Gallery"
                a(class="NavItem" href="#contact")="Order"
        header#main_header
            figure#intro_fig
                img(src='/static/img/logo.png', alt='The Dinners by Derek logo')
            div.info_paragraphs
                p
                    | Dinners by Derek is a prepared foods service that is designed to simplify
                    | mealtime. We offer wholesome,
                    | nutritious, and diverse weekly menus that are delivered fresh for your convenience!
                p
                    a#facebook(href='https://www.facebook.com/ChefDerekDouglas/') Check us out on Facebook here!
        section#first_section
            div#how_it_works_section
                div.instruction_card.inlineContainer
                    div.number_title 1
                    div.instruction_header
                        strong Make your selections
                    div.instruction_info
                        p
                            | Each Monday we will release a unique menu of classic entrees and
                            | chef inspired creations to be delivered the following week. Choose which meals you’d like to
                            | enjoy, as well as how many portions of each offering.* No long term commitment necessary!
                        p
                            span.smallText
                                | * All orders must be received before midnight on Friday of the preceding
                                | week
                div.instruction_card.inlineContainer
                    div.number_title 2
                    div.instruction_header
                        strong Receive your food
                    div.instruction_info
                        p
                            | We will personally deliver your meals on a schedule to suit you and
                            | to maximize on freshness.** We’ll accept payment for the week upon delivery.
                        p
                            span.smallText ** Please contact us concerning our delivery area
                div.instruction_card.inlineContainer
                    div.number_title 3
                    div.instruction_header
                        strong Heat and enjoy!
                    div.instruction_info
                        p
                            | We use containers that are best suited to warm your food quickly and
                            | easily. Simply follow the enclosed directions and ring the dinner bell!
        section#menu
            header
                h2
                    span.greenText Menu
                h3
                    | For the week of 
                    strong#date= month + ", " + day
                    | :
            div#menu_tables_container
                div#entree_table_container.inlineContainer
                    table
                        tbody
                            tr
                                th.table_title(colspan='2') Entrees
                            tr
                                th
                                    span.greenText Monday
                                td=monday
                            tr
                                th
                                    span.greenText Tuesday
                                td=tuesday
                            tr
                                th
                                    span.greenText Wednesday
                                td=wednesday
                            tr
                                th
                                    span.greenText Thursday
                                td=thursday
                            tr
                                th
                                    span.greenText Friday
                                td=friday
                            tr
                                th
                                    span.greenText Saturday
                                td=saturday
                            tr
                                th
                                    span.greenText Sunday
                                td=sunday
                div#sides_table_container.inlineContainer
                    div
                        table
                            tbody
                                tr
                                    th.table_title Sides
                                tr
                                    td=side1
                                tr
                                    td=side2
                                tr
                                    td=side3
                        table
                            tbody
                                tr
                                    th.table_title Kid's Entrees*
                                tr
                                    td Chicken Tenders
                                tr
                                    td Macaroni and Cheese
                                tr
                                    td Grilled Chicken Quesadilla
                                tr
                                    td
                                        span.smallText * All children's entrees are served with seasonal fruit
                div.info_paragraphs
                    p
        section#health
            header
                h2
                    span.greenText Healthy Selections
                div.info_paragraphs
                    p
                        | In addition to our regular daily delivery menu, we are pleased to offer a "healthy selections" menu
                        | specifically formulated for our Bodyplex and Burn Boot Camp customers. This menu follows a similar
                        | flavor profile to our "balanced selections" menu while keeping calories and portion control in mind.
                        | This menu also follows our Friday order cut-off but is delivered on Monday each week.
            table
                tbody
                    tr
                        th.table_title Meal
                        th.table_title Dietary Specifications
                        th.table_title Fats
                        th.table_title Carbs
                        th.table_title Protein
                        th.table_title Calories
                    tr
                        td=h1_meal
                        td=h1_specifications
                        td=h1_fat
                        td=h1_carbs
                        td=h1_protein
                        td=h1_calories
                    tr
                        td=h2_meal
                        td=h2_specifications
                        td=h2_fat
                        td=h2_carbs
                        td=h2_protein
                        td=h2_calories
                    tr
                        td=h3_meal
                        td=h3_specifications
                        td=h3_fat
                        td=h3_carbs
                        td=h3_protein
                        td=h3_calories
                    tr
                        td=h4_meal
                        td=h4_specifications
                        td=h4_fat
                        td=h4_carbs
                        td=h4_protein
                        td=h4_calories
                    tr
                        td=h5_meal
                        td=h5_specifications
                        td=h5_fat
                        td=h5_carbs
                        td=h5_protein
                        td=h5_calories
            p K-Keto, P- Paleo, GF-Gluten free
        section#pricing
            header
                h2
                    span.greenText Pricing
            div.info_paragraphs
                p
                    | Our meals are prepared with value in mind. Each portion will suit a standard adult
                    | appetite… no
                    | microportioning! Please see our pricing guide below.
            table
                tbody
                    tr
                        th Adult's Entrees
                        td $8.25
                    tr
                        th Kid's Entrees
                        td $4.00
                    tr
                        th Sides
                        td $2.50
                    tr
                        th Desserts
                        td $1.25
        section#photos
            header
                h2
                    span.greenText Photo Gallery
            div.photo_row
                div.inlineContainer.photo_container
                    figure.food_fig
                        img(src='/static/img/20190225_213325.jpg', alt='')
                        figcaption
                div.inlineContainer.photo_container
                    figure.food_fig
                        img(src='/static/img/20190313_235159.jpg', alt='')
                        figcaption
            div.photo_row
                div.inlineContainer.photo_container
                    figure.food_fig
                        img(src='/static/img/20190318_015334.jpg', alt='')
                        figcaption
                div.inlineContainer.photo_container
                    figure.food_fig
                        img(src='/static/img/20190322_001013.jpg', alt='')
                        figcaption
            div.photo_row
                div.inlineContainer.photo_container
                    figure.food_fig
                        img(src='/static/img/20190418_001822.jpg', alt='')
                        figcaption
                div.inlineContainer.photo_container
                    figure.food_fig
                        img(src='/static/img/20190328_012841.jpg', alt='')
                        figcaption
        section#contact
            header
                h2
                    span.greenText Order
            .info_paragraphs
                p
                    | General inquiries are welcome anytime! We're happy to talk about our food and service day or night.
                p
                    | To place an order via text or email, simply let us know which entrees you'd care to enjoy and the
                    | quantity of each. We will reach out to you at our earliest convenience to confirm and establish a
                    | delivery location as well as a payment method.
            table#contact_table
                tbody
                    tr
                        th
                            span.greenText Phone
                        td (630)313-9576
                    tr
                        th
                            span.greenText Email
                        td dinnersbyderek@gmail.com
        footer
            p © 2019 Dinners by Derek
