html
    head
        title= "Login"
        link(rel="stylesheet", href="/static/css/adminStyles.css")
    body
        div.formContainer
            div.headingContainer
                h1= "Login"
                h3= "Please enter username and password below"
            div#errorMessage= errorMsg
            form(method="POST" action= "/verifyUser")
                table
                    tr
                        th
                            label(for="username")= "Username"
                        td
                            input(name="username" type="text")
                    tr
                        th
                            label(for="password")= "Password"
                        td
                            input(name="password" type="password")
                input(type="submit")